Vapour.plugins.packer = {
  init = {
    display = {
      open_fn = function()
        return Vapour.utils.plugins.require_if_installed('packer.util').float { border = "single" }
      end
    },
  },
}

Vapour.plugins.user = {
  {"rcarriga/nvim-dap-ui", requires = {"mfussenegger/nvim-dap"}},
}

-- These assume either vapour-user-config/*/init.lua or vapour-user-config/*.lua
Vapour.utils.plugins.require_if_installed('vapour-user-config.dap')
Vapour.utils.plugins.require_if_installed('vapour-user-config.autopairs')

-- To magic-load or add a missing package
Vapour.utils.plugins.require_if_installed("folke/which-key.nvim")

-- To magic-load or add a missing package w/ packer config
Vapour.utils.plugins.require_if_installed("folke/which-key.nvim", { config = function() end})
